section.Admin {
    height: 100%;
    overflow: auto;
    background: #fdfdfd;
    >header {
        background-color: #456;
        color: white;
        position: relative;
        z-index: 2;
        .title {
            display: inline-block;
            font-size: 1.5em;
            margin: 25px;
            text-align: center;
        }
    }
    >.content {
        position: relative;
        font-size: 14px;
        line-height: 1.5;
    }
    section.Navigation {
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, .2);
    }
    a,
    label,
    .clickable {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        user-select: none;
        white-space: nowrap;
        svg {
            margin-right: 3px;
        }
    }
    label {
        cursor: unset;
    }
    .clickable {
        padding-left: 8px;
        padding-right: 8px;
        &.disabled {
            cursor: default;
            background: #eee;
            color: #bbb;
        }
        &:not(.disabled) {
            cursor: pointer;
            &:hover {
                // background: #fff;
            }
            &:active {
                background: #ddd;
            }
        }
    }
    select,
    textarea,
    input {
        font-size: 16px;
        background: white;
    }
    svg {
        // https://stackoverflow.com/questions/32142182/css-column-count-and-transition-weird-jump-on-chrome
        backface-visibility: hidden;
    }
}