section.Admin {
  height: 100%;
  overflow: auto;
  background: #fdfdfd; }
  section.Admin > header {
    background-color: #456;
    color: white;
    position: relative;
    z-index: 2; }
    section.Admin > header .title {
      display: inline-block;
      font-size: 1.5em;
      margin: 25px;
      text-align: center; }
  section.Admin > .content {
    position: relative;
    font-size: 14px;
    line-height: 1.5; }
  section.Admin section.Navigation {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); }
  section.Admin a,
  section.Admin label,
  section.Admin .clickable {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    white-space: nowrap; }
    section.Admin a svg,
    section.Admin label svg,
    section.Admin .clickable svg {
      margin-right: 3px; }
  section.Admin label {
    cursor: unset; }
  section.Admin .clickable {
    padding-left: 8px;
    padding-right: 8px; }
    section.Admin .clickable.disabled {
      cursor: default;
      background: #eee;
      color: #bbb; }
    section.Admin .clickable:not(.disabled) {
      cursor: pointer; }
      section.Admin .clickable:not(.disabled):active {
        background: #ddd; }
  section.Admin select,
  section.Admin textarea,
  section.Admin input {
    font-size: 16px;
    background: white; }
  section.Admin svg {
    backface-visibility: hidden; }
