section.SystemPage .danger {
  border: 1px solid red; }
  section.SystemPage .danger .UiCardTitle {
    color: red; }

section.SystemPage .information {
  height: 156px; }
  section.SystemPage .information section.Loading {
    margin-top: 20px; }
  section.SystemPage .information ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    section.SystemPage .information ul span:first-child {
      width: 100px;
      display: inline-block; }
