.WebComponentForm {
    .componentTitle {
        display: grid;
        grid-template-columns: 33px auto 33px;
        border-bottom: 1px solid #eee;
    }
    .componentSelect {
        display: grid;
        grid-template-columns: 33px min-content auto;
        select {
            width: 100%;
        }
    }
}

.OptionItem[data-valuetype=webComponent]>.item-header {
    display: none;
}

.item-details[data-isarray=true]>.OptionItem[data-valuetype=webComponent]>.item-header {
    display: grid;
}