.UiCard {
  overflow: auto;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: white;
  color: #222;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; }
  .UiCard a {
    color: #555; }
