.UiOverlay {
  position: fixed;
  z-index: 1;
  background: rgba(99, 99, 99, 0.47);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0; }
  .UiOverlay > .Loading {
    color: white; }
  .UiOverlay > .UiCard {
    position: absolute;
    margin: 20px;
    top: 118px;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    max-height: fit-content; }
    .UiOverlay > .UiCard .UiCardTitle {
      position: sticky;
      top: 0;
      z-index: 1; }
    .UiOverlay > .UiCard .UiCardButtonRow {
      position: sticky;
      bottom: 0; }

@media screen and (min-width: 601px) {
  .UiOverlay > .UiCard {
    position: absolute;
    margin: 20px 0;
    top: 118px;
    bottom: 0;
    left: 50%;
    right: auto;
    width: 560px;
    transform: translateX(-50%); } }
