.StyleForm {
    .OptionItem+.newPropertyRow {
        border-top: 1px solid #eee;
    }
    .newPropertyRow {
        display: flex;
        select {
            width: 100%;
        }
        .UiButton {
            overflow: initial;
        }
    }
}