.UiGridLayout {
    padding-right: 20px;
    >* {
        width: calc(25% - 20px);
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .UiGridLayout>* {
        width: calc(33.3% - 20px);
    }
}

@media screen and (max-width: 900px) {
    .UiGridLayout>* {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .UiGridLayout>* {
        width: calc(100% - 20px);
    }
}