section.CommandResult {
    .UiButton {
        position: absolute;
        top: 0;
        right: 0;
    }
    .UiCardContent {
        .result {
            word-wrap: break-word;
            padding-top: 6px;
            padding-bottom: 6px;
            border-bottom: 1px solid #ddd;
            &:last-of-type {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}