.WebComponentForm {
    .componentTitle {
        display: grid;
        grid-template-columns: 33px auto 33px;
        border-bottom: 1px solid #eee;
    }
    .componentSelect {
        width: 100%;
    }
     :last-child {
        border-bottom: none;
    }
}