.UiFlowLayout {
    padding: 10px;
    column-count: 4;
    column-gap: 0;
    >* {
        width: calc(100% - 20px);
        padding: 10px;
        break-inside: avoid;
    }
    +.UiFlowLayout {
        padding-top: 0px;
        margin-top: -10px;
    }
}

@media screen and (max-width: 1200px) {
    .UiFlowLayout {
        column-count: 3;
    }
}

@media screen and (max-width: 900px) {
    .UiFlowLayout {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .UiFlowLayout {
        column-count: 1;
    }
}