.ModuleCard {
    overflow: hidden;
    .UiCardTitle .hasUpdate {
        margin-left: 6px;
        font-size: 10px;
        color: rgb(89, 170, 255);
        vertical-align: text-top;
    }
    .UiCardButtonRow {
        transition: 0.5s ease-in-out;
        margin: 0;
        &.default {
            &.hide {
                margin-left: -100%;
            }
        }
        &.actions {
            margin-top: -34px;
            &.hide {
                margin-left: 100%;
            }
        }
        a {
            color: #222;
            text-decoration: none;
        }
    }
}