.UiTabs {
    header {
        margin-left: 20px;
        margin-right: 20px;
        .UiTabHeader {
            display: inline-block;
            margin: 8px;
            margin-bottom: 0;
            border-bottom: 1px solid #ddd;
            &.selected {
                border-bottom-color: #888;
            }
        }
    }
    .UiTab .UiFlowLayout {
        padding-top: 0;
    }
}