.ModuleCatalog {
    .ModuleCatalogItem {
        display: grid;
        grid-template-columns: 1fr auto;
        margin-left: 8px;
        a {
            padding: 6px;
            text-decoration: none;
        }
        &~.ModuleCatalogItem {
            border-top: 1px solid #ddd;
        }
    }
}