.OptionItem {
  margin-left: 6px;
  line-height: 32px;
  border-top: 1px solid transparent; }
  .OptionItem + .OptionItem {
    border-color: #eee; }
  .OptionItem[data-hasdetails='false'] {
    display: grid;
    grid-template-columns: 50% 50%; }
  .OptionItem[data-detailsvisible='false'] + .add-array-item {
    border-top: 1px solid #eee; }
  .OptionItem[data-detailsvisible='true'] {
    padding-left: 3px;
    margin-left: 0px;
    border-left-width: 3px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
    border-right-width: 0;
    border-style: solid;
    border-left-color: #68a; }
    .OptionItem[data-detailsvisible='true'] [data-detailsvisible='true'] {
      border-left-color: #964; }
      .OptionItem[data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] {
        border-left-color: #6a9; }
        .OptionItem[data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] {
          border-left-color: #649; }
          .OptionItem[data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] {
            border-left-color: #496; }
            .OptionItem[data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] {
              border-left-color: #946; }
              .OptionItem[data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] {
                border-left-color: #649; }
                .OptionItem[data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] [data-detailsvisible='true'] {
                  border-left-color: #68a; }
    .OptionItem[data-detailsvisible='true'] > .item-header {
      border-bottom: 1px solid #eee; }
    .OptionItem[data-detailsvisible='true'] + [data-detailsvisible='true'] {
      margin-top: 6px; }
    .OptionItem[data-detailsvisible='true'] + [data-detailsvisible='false'] {
      border-top-width: 0; }
    .OptionItem[data-detailsvisible='true'] :last-child {
      border-bottom-width: 0; }
  .OptionItem label,
  .OptionItem .header-text,
  .OptionItem .sub-header-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .OptionItem label {
    display: flex; }
    .OptionItem label :first-child.header-text {
      padding-left: 4px; }
  .OptionItem input,
  .OptionItem select {
    height: 32px;
    border: none;
    padding-left: 6px;
    background: white;
    box-sizing: border-box;
    margin: 0; }
    .OptionItem input[type='range'],
    .OptionItem select[type='range'] {
      padding-left: 0; }
  .OptionItem textarea {
    border: none;
    width: 100%;
    padding: 6px;
    display: flex;
    box-sizing: border-box; }
  .OptionItem .item-header {
    display: grid;
    grid-template-columns: 50% auto 33px;
    padding: 0 !important; }
  .OptionItem .UiButton {
    padding-top: 0;
    padding-bottom: 0; }
