.OptionItem {
    margin-left: 6px;
    line-height: 32px;
    border-top: 1px solid transparent;
    +.OptionItem {
        border-color: #eee;
    }
    &[data-hasdetails='false'] {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    &[data-detailsvisible='false'] {
        +.add-array-item {
            border-top: 1px solid #eee;
        }
    }
    &[data-detailsvisible='true'] {
        padding-left: 3px;
        margin-left: 0px;
        // margin-bottom: 6px;
        border-left-width: 3px;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-bottom-color: #eee;
        border-right-width: 0;
        border-style: solid;
        border-left-color: #68a;
        // border top and bottom
        // border-top-color: #eee !important;
        // border-bottom-color: #eee !important;
        [data-detailsvisible='true'] {
            border-left-color: #964;
            [data-detailsvisible='true'] {
                border-left-color: #6a9;
                [data-detailsvisible='true'] {
                    border-left-color: #649;
                    [data-detailsvisible='true'] {
                        border-left-color: #496;
                        [data-detailsvisible='true'] {
                            border-left-color: #946;
                            [data-detailsvisible='true'] {
                                border-left-color: #649;
                                [data-detailsvisible='true'] {
                                    border-left-color: #68a;
                                }
                            }
                        }
                    }
                }
            }
        }
        >.item-header {
            border-bottom: 1px solid #eee;
        }
        +[data-detailsvisible='true'] {
            margin-top: 6px;
        }
        +[data-detailsvisible='false'] {
            border-top-width: 0;
        }
         :last-child {
            border-bottom-width: 0;
        }
    }
    label,
    .header-text,
    .sub-header-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    label {
        display: flex;
         :first-child.header-text {
            padding-left: 4px;
        }
    }
    input,
    select {
        height: 32px;
        border: none;
        padding-left: 6px;
        background: white;
        box-sizing: border-box;
        margin: 0;
        &[type='range'] {
            padding-left: 0;
        }
    }
    textarea {
        border: none;
        width: 100%;
        padding: 6px;
        display: flex;
        box-sizing: border-box;
    }
    .item-header {
        display: grid;
        grid-template-columns: 50% auto 33px;
        padding: 0 !important;
    }
    .UiButton {
        padding-top: 0;
        padding-bottom: 0;
    }
}