section.Loading {
  text-align: center; }
  section.Loading.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  section.Loading .text {
    margin-top: 10px; }
